@import "src/styles/extends";

.container {
  @extend %column-center, %wh-full, %gap-4;
  padding: 16px;

  [class~=logo] {
    @extend %inline-center, %w-full;
  }

  [class~=panel] {
    @extend %column-center, %gap-4, %wh-full;
    padding: 16px;
  }

  [class~=register]{
    @extend %column-center, %h-full;
    padding: 1rem;
    bottom: 0;
    justify-content: flex-end;
  }
}
