@import "src/styles/variables";

.container{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: $text-color;
}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.dk-text{
  color: $dk-text-color;
  font-weight: 700;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.subtitle {
  font-size: 20px;
  font-weight: 700;
}
