@import "src/styles/extends";
@import "src/styles/variables";

.container{
  background-color: transparent;
  width: min(20vw, 20vh);
  height: min(20vw, 20vh);
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  [class~=inner]{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  [class~=flip-front], [class~=flip-back] {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    @extend %inline-center;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(195, 198, 209, 0.15);
  }

  [class~=flip-front]{
    border: 4px solid $md-navy;
    transform: rotateY(180deg);
  }

  [class~=flip-back]{
    transition: 0.3s;
  }
}

.focused [class~=flip-back]{
  background-color: $yellow;
}

.turned [class~=inner]{
  transform: rotateY(180deg);
}
