// primitives
$white: #fff;
$yellow: #FFD43B;
$dk-yellow: #FAB005;
$blue: #74C0FC;
$dk-blue: #146EBE;
$lt-gravy: #F0F1F3;
$gravy: #C3C6D1;
$md-gravy: #8991A5;
$dk-gravy: #515E7B;
$md-navy: #5F697D;
$navy: #183153;

// composed or specifics
$body-background: $lt-gravy;
$text-color: $md-navy;
$dk-text-color: $navy;
$link: $dk-blue;
$input-placeholder: $gravy;
$tag-background: $blue;
