@import "src/styles/variables";

.container{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration-line: underline;

  color: $link;
}
