@import "src/styles/extends";
@import "src/styles/mixins";

.container {
  @extend %wh-full, %column-center;
  position: relative;
  overflow: hidden;

  [class~=found-icons-btn] {
    @extend %w-full;
    z-index: 1;
  }

  @include desktop{
    [class~=found-icons-btn] {
      display: inline-flex;
      justify-content: start;
    }
  }
}
