@import "src/styles/extends";
@import "src/styles/mixins";

.container {
  @extend %column-center, %wh-full, %gap-4;
  padding: 16px;

  [class~=logo] {
    @extend %inline-center, %w-full;
  }

  [class~=panel] {
    @extend %column-center, %gap-4, %wh-full;
    padding: 16px;

    [class~=actions]{
      @extend %column-start, %gap-1, %wh-full;
    }
  }

  @include desktop {
    width: 25vw;
  }
}
